/*style*/
body {
    font-family: Arial, sans-serif;
    background-color: #F5F5F3;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

#main-content {
    width: 100%;
    max-width: 80vw;
    margin: 2vw auto;
    padding: 2rem;
    background: #FFFFFF;
}

ul {
    display: flex;
    margin: 0;

}

li {
    display: flex;
    flex-direction: row;
    text-align: center;
    border-bottom: 2px solid transparent;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
button  {
    background-color: #003D76;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 6px 22px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

button a    {
    color: #FFFFFF;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.button-link {
    background-color: #003D76;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #FFFFFF;
    padding: 6px 22px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

button:hover    {
    background-color: #004585;
}

/*navbar styling*/

.logo {
    float: left;
    width: 70px;
    height: 70px;
    padding: 0;
}

#navbar {
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    grid-template-rows: 70px;
    grid-template-areas: "logo buttons login";
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    height: 70px;
}

.nav-logo {
    grid-area: logo;
    height: 70px;
    width: 70px;
    padding: 0;
}

.nav-buttons {
    grid-area: buttons

}

#navbar .nav-login {
    grid-area: login;
    padding-right: 30px;
    justify-self: end;

}




#navbar a {

    float: left;
    display: block;
    color: #101820;
    text-align: center;
    padding: 25px 15px;
    text-decoration: none;
    font-size: 15px;
}

#navbar a:hover {
    border-bottom: 2px solid #101820;
}

#navbar a.active {
    border-bottom: 2px solid #101820;
}

#navbar ul {
    padding: 0;
}

/*Footer styling*/

footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.footer-content {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0 auto;
    padding: 60px 18px;
    max-width: 1680px;
    width: 100%;

}

.footer-links {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.footer-links a {
    position: relative;
    display: inline-block;
    color: #101820;
    text-align: left;
    padding: 5px 5px;
    text-decoration: none;
    font-size: 12px;
    transition: 0.4s;
}

.footer-links a::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    background-color: #101820;
    bottom: 0;
    left: 0;
    transition: width 0.4s ease;
}

.footer-links a:hover::before {
    width: 100%;
}

.footer-title {
    margin-bottom: 12px;
    display: inline-block;
    padding: 5px 5px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #101820;
}
.address-box    {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    font-size: 12px;

}
.address-box svg    {
    width: 60px;
    height: 60px;
    margin-bottom: 5px;
}
.address-box .line{
    display: block;
    margin-top: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 18px 18px;
    margin: 10px;
    gap: 10px;
}

.form-group > div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 10px;
    gap: 10px;
}


select, input   {
    font-size: 16px;
    border-radius: 5px;
    background: #FFFFFF;
    border: 1px solid #ccc;
    padding: 0.5em;
    cursor: pointer;
}

input[type="text"], input[type="tel"], input[type="email"], input[type="number"] {
    cursor: text;
}

#toolshed-div  {
    display: none;
}

.form-button-align  {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.step-format    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 3vw auto;
    max-width: 40vw;
    width: 100%;
    padding: 0 20px;
}

.step-wrapper   {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    width: 10vw;
}

.step-wrapper p {
    margin-top: 1vw;
    font-size: 1vw;
}

.line-connect {
    top: 1.5vw;
    width: 10vw;
    height: 0.2vw;
    border-radius: 18%;
    background-color: lightgray;
    position: relative;
}

.step {
    height: 3vw;
    width: 3vw;
    font-size: 2vw;
    text-align: center;
    background-color: #FFFFFF;
    border: 0.2vw solid lightgray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step.active {
    opacity: 1;
}

.step-wrapper.finish .step {
    background-color: #003D76;
    color: #FFFFFF;
    border: solid #003D76;
}

.line-connect.finish-line {
    background-color: #003D76;
}

/* Radio button styling */
input[type="radio"] {
    display: none;
}

.radio-option {
    display: flex;
    padding: 0.75em 1em;
}

.option-label {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: small;
    cursor: pointer;
    transition: border-color 0.3s, box-shadow 0.3s;
}

input[type="radio"]:checked + .option-label {
    border-color: #00406B ;
    box-shadow: 0 0 8px rgba(0, 64, 128, 0.3);
}

.options {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 30px;
}

/* Icon image styling */

.roof-images {
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    object-fit: contain;
}

/* Image styling */

.index-top-image {
    display: block;
    margin: 0 auto;
    width: 50%;
    max-width: 600px;
    height: auto;
}

.index-info-box {
    display: flex;
    width: 45vw;
    flex-direction: column;
    margin: 15px auto;
    text-align: left;
    justify-content: center;

}

.login-container {
    background: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-form .form-group {
    margin-bottom: 1rem;
    text-align: left;
}

.login-form label {
    display: block;
    margin-bottom: 0.5rem;
}

.login-form input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-submit {
    text-align: right;
}

.form-submit button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
}

.form-submit button:hover {
    background-color: #0056b3;
}


.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form .form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.admin-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    gap: 2rem;
}

.admin-button-container button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}



/* See-all-orders styling */
#order-h1 {
    text-align: center;
}

#order-table {
    width: 50%;
    border-collapse: collapse;
    background-color: white;
    margin: auto;
}

.table-container th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

.table-container th {
    background-color: #f2f2f2;
}

/* Order-details styling */

.main-content-orders {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 20px;

}
.container-orderDetails,
.container-editOrder {
    flex: 1;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;

}

.container-orderDetails ul {
    display: block;
    padding: 0;

}
.container-orderDetails li {
    margin-bottom: 50px;
    margin-top: 50px;
    display: block;
    text-align: left;
    font-weight: bold;
}

.container-orderDetails li > span {
    font-weight: normal;
}

.container-editOrder form {
    display: flex;
    flex-direction: column;
}

.container-editOrder form label {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: bold;
}
.order-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.6rem 1.2rem;
    border-radius: 4px;
    cursor: pointer;
    max-width: 200px;
    margin: auto;
    margin-top: 50px;
}

.form-submit button:hover {
    background-color: #0056b3;
}


#navbar a.logo-link {

    display: inline-block;
    width: 70px;
    height: 70px;
    vertical-align: middle;
    padding: 0;
}

.logo-link svg {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;


}


.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.order-table th, .order-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.order-total {
    margin-top: 1rem;
    font-weight: bold;
}

/* receid styling */
body {
    background-color: #F5F5F3;
}

main {
    padding-top: 60px;
    padding-bottom: 60px;
}

.content-contaioner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Checkmark ikon */
.main-content-receid::before {
    content: "✔";
    display: block;
    font-size: 60px;
    color: #4CAF50;
    margin-bottom: 20px;
}

.main-content-receid{
    text-align: center;
    background-color: white;
    padding: 40px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    height: 400px;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.main-content-receid h1 {
    font-size: 32px;
    margin-bottom: 16px;
    color: #222;
}

.success-line {
    width: 200px;
    height: 1px;
    background-color: #101820;
    border: none;
    margin: 22px auto 32px auto;
    border-radius: 1px;
}

.main-content-receid h2 {
    font-size: 20px;
    font-weight: normal;
    color: #333;
    margin-bottom: 24px;
}

.main-content-receid p {
    font-size: 14px;
    color: #333;
}

/* SVG drawing */

.carport-svg {
    width: 600px;
    height: 600px;
    position: relative;
    margin: auto;
}

.carport-svg svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th, td {
    padding: 0.5rem;
    border: 1px solid #ccc;
    text-align: left;
}

thead {
    background-color: #f0f0f0;
}
