<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Fog - QuickByg</title>
  <link href="../../public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>
<div class="page-wrapper">
  <div th:insert="~{fragments/header :: header}"></div>

  <main>

    <div class="step-format">
      <div class="step-wrapper finish">
        <span class="step">1</span>
        <p>Mål</p>
      </div>

      <div class="line-connect finish-line"></div>

      <div class="step-wrapper finish">
        <span class="step">2</span>
        <p>Bekræft plantegning</p>
      </div>

      <div class="line-connect"></div>

      <div class="step-wrapper">
        <span class="step">3</span>
        <p>Personlige oplysninger</p>
      </div>

      <div class="line-connect"></div>

      <div class="step-wrapper">
        <span class="step">4</span>
        <p>Bekræftelse</p>
      </div>
    </div>


    <div id="main-content">

      <h1>Bekræft størrelse</h1>
      <p>Her er den overliggende plan for hvordan din carport vil se ud, med din nuværende indtastet information.</p>
      <p>Vis målene ikke er rigtige kan du trykke på tilbage og prøve igen</p>

      <!-- Fill form action if needed -->
      <form action="" method="post">

        <div class="carport-svg">
          <div th:utext="${svg}"></div>
        </div>

        <div class="form-button-align">
          <a href="size.html" th:href="@{/size}" class="button-link">Tilbage</a>
          <button type="submit" >
            <a href="customer-information.html" th:href="@{/customer-information}">Videre</a>
          </button>
        </div>

      </form>

    </div>
  </main>
  <div th:insert="~{fragments/footer :: footer}"></div>
</div>
</body>
</html>