<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Fog - QuickByg</title>
    <link href="/public/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link href="/public/css/summary.css" th:href="@{/css/summary.css}" rel="stylesheet"/>
</head>

<body>
<div class="page-wrapper">

    <header>
        <div th:insert="~{fragments/header :: header}"></div>
    </header>

    <div class="step-format">
        <div class="step-wrapper finish">
            <span class="step">1</span>
            <p>Mål</p>
        </div>

        <div class="line-connect finish-line"></div>

        <div class="step-wrapper finish">
            <span class="step">2</span>
            <p>Materiale</p>
        </div>

        <div class="line-connect finish-line"></div>

        <div class="step-wrapper finish">
            <span class="step">3</span>
            <p>Personlige oplysninger</p>
        </div>

        <div class="line-connect finish-line"></div>

        <div class="step-wrapper finish">
            <span class="step">4</span>
            <p>Bekræftelse</p>
        </div>
    </div>

    <main>
        <div id="main-content">
            <div class="format">
                <h1>Din forespørgsel</h1>
                <p>
                    Er dine kontakt oplysninger korrekte? <br>
                    Tryk "Bestil tilbud" når du har tjekket dine angivet oplysninger.
                </p>

                <div class="container-box">
                    <h2>Personlige Oplysninger</h2>
                    <div class="customer-information">
                        <p>Fornavn: <span th:text="${placeholder}"></span></p>
                        <p>Efternavn: <span th:text="${placeholder}"></span></p>
                        <p>Telefon: <span th:text="${placeholder}"></span></p>
                        <p>Email: <span th:text="${placeholder}"></span></p>
                        <p>Postnr: <span th:text="${placeholder}"></span></p>
                        <a href="customer-information.html">Ret oplysninger</a>
                    </div>
                </div>

                <div class="container-box">
                    <h2>Mål</h2>
                    <div class="size">
                        <p>Bredde: <span th:text="${sizeInfo.width}"></span></p>
                        <p>Længde: <span th:text="${sizeInfo.length}"></span></p>
                        <p>trapeztag: <span th:text="${sizeInfo.trapez}"></span></p>
                        <a href="size.html" th:href="@{/size}">Ret oplysninger</a>
                    </div>
                </div>

                <div class="container-box">
                    <h2>Materialer</h2>
                    <div class="materials">
                        <p>Stolper: <span th:text="${perInfo.fname}"></span></p>
                        <p>Spær: <span th:text="${perInfo.}"></span></p>
                        <p>Remme: <span th:text="${placeholder}"></span></p>
                        <p>Stern: <span th:text="${placeholder}"></span></p>
                        <a href="material.html">Ret oplysninger</a>
                    </div>
                </div>

                <div class="form-button-align">
                    <form action="" method="GET">
                        <button type="submit" class="active">Tilbage</button>
                    </form>
                    <form action="" method="GET">
                        <button type="submit" class="active">Videre</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div th:insert="~{fragments/footer :: footer}"></div>
    </footer>
</div>
</body>
</html>