<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"/>
    <title>Din Ordre - QuickByg</title>
</head>
<body>
<div class="page-wrapper">

    <div th:insert="~{fragments/header :: header}"></div>

    <main>
        <div id="main-content">
            <h2>Din Ordre</h2>

            <div th:each="order : ${orders}">
                <p><strong>Navn:</strong> <span th:text="${order.user.firstName + ' ' + order.user.lastName}"></span></p>
                <p><strong>Email:</strong> <span th:text="${order.user.email}"></span></p>
                <p><strong>Telefon:</strong> <span th:text="${order.user.phoneNumber}"></span></p>
                <p><strong>Adresse:</strong> <span th:text="${order.user.address + ', ' + order.user.zip}"></span></p>

                <hr>

                <p><strong>Ordre ID:</strong> <span th:text="${order.orderId}"></span></p>
                <p><strong>Dato:</strong> <span th:text="${order.orderDate}"></span></p>
                <p><strong>Status:</strong> <span th:text="${order.orderStatus}"></span></p>
                <p><strong>Dimensioner:</strong> <span th:text="${order.width + ' x ' + order.length + ' cm'}"></span></p>
                <p><strong>Totalpris:</strong> <span th:text="${order.totalPrice + ' kr'}"></span></p>

                <br><hr><br>
            </div>
        </div>
    </main>

    <div th:insert="~{fragments/footer :: footer}"></div>

</div>
</body>
</html>
